.mainFlex{
	display: flex;
	width:100%;
	height:100%;
}

*{
 	margin: 0;
	font-family: Arial;
}

/*div{
	border: 1px solid red;
}*/

body{
	background-color:rgb(246, 248, 252);
}
button{
	border:none;
	background-color: rgb(234, 241, 251);
}

/* Side Menu */
.sideMenu{
	background-color: rgb(234, 241, 251);
	width: 68px;
	height: 100%;
}

button:hover{
	cursor:pointer;
    	background-color: rgb(221, 227, 236);
}
.sideButtonMail{
	background-color:rgb(211, 227, 253);
}
.sideMenu p{
	font-size:12px;
	font-weight:10px;
}

.sideMenuIconOption{
	margin-left:10px;
	margin-top: 8px;
}

.optionButton{
	padding:15px;
	border-radius:200px;
}

.sideMenuIconMail{
	margin-left:10px;
	margin-top:25px;
}

.sideMenuIconGroup{
	margin-left:10px;
	margin-top: 15px;
}

.sideButtonGroup{
	padding:7px 15px;
	border-radius:120px;
}

.sideMenuText{
	margin-top: 3px;
	margin-left:23px;
}
.sideMenuText p{
	cursor:pointer
}

/*Top Bar*/
.topBar{
	display:flex;
}
/* Side Bar */
.sideBar{
	padding-left:12px;
}
.iconText{
	display:flex;
	margin-top:15px;
	margin-left:8px;
}

.gmailText{
	margin-left:10px;
	margin-top:5px;
}

.gmailText p{
	font-size:22px;
}

.compose{
	background-color:rgb(194, 231, 255);
	display:flex;
	padding:18px 23px;
	margin-top:22px;
	border-radius:15px;
	width:92px;
}

.compose p{
	margin-top:3px;
	margin-left:10px;
	font-size:15px;
}

.compose:hover{
	cursor:pointer;
	box-shadow: 2px 2px 5px 0px rgb(0, 0, 0, 0.5);
}

.sideBarOption{
	display:flex;
	background-color:rgb(211, 227, 253);
	margin-top:16px;
	padding:7px 15px;
	border-radius:200px;
	width:202px;
}

.sideBarOption p{
	margin-left:20px;
	font-size:14px;
}

.sideBarOption:hover{
	cursor:pointer;
}

.sideBarOptionGroup{
	display:flex;
	padding:7px 15px;
	border-radius:200px;
	width:202px;
}

.sideBarOptionGroup p{
	margin-left:20px;
	font-size:14px;
}

.sideBarOptionGroup:hover{
	cursor:pointer;
	background-color:rgb(234, 235, 239);
}

.labels{
	display:flex;
	margin-top:25px;
	margin-left:15px;
}

.labelPlus{
	margin-left:135px;
	cursor:pointer;
	padding:5px;
	border-radius:50%;
}

.labelPlus:hover{
	background-color:rgb(234, 235, 239);
}

.labelText{
	margin-top:5px;
}

/*Search*/
.search{
	display:flex;
	background-color:rgb(234, 241, 251);
	height:50px;
	width:32vw;
	margin-left:20px;
	margin-top:10px;
	border-radius:50px;
	padding-right:20px;
}
.search img{
	margin-left:10px;
	margin-top:15px;
	position:absolute;
}

.search input{
	border:none;	
	margin-top:15px;
	margin-left:40px;
	height:20px;
	width:100%;
	background-color:rgb(234, 241, 251);
	font-size:16px;
}

.searchImage, .searchImageRight{
	cursor:pointer;
}

.searchImageRight:hover{
	background-color:rgb(221, 227, 236);
}
.searchImageRight{
	margin-left:180px;
}
.searchImage:hover{
	background-color:rgb(221, 227, 236);
}

.active{
	display:flex;
	background-color:rgb(234, 241, 251);
	margin-top:10px;
	margin-left:5vw;
	width:100px;
	height:50px;
	border-radius:50px;
}

.greenDot img{
	margin-top:20px;
	margin-left:15px;
}
.activeText{
	margin-top:18px;
	margin-left:5px;
	font-size:15px;
}
.activeDown{
	margin-top:18px;
	margin-left:5px;
}

.qnMark, .settings, .dotsMenu{
	margin-left:20px;
	margin-top:25px;
}

.techV{
	margin-top:10px;
	margin-left:15px;
	border:1px solid rgb(214, 215, 219);
	border-radius:10px;
	display:flex;
	height:40px;
	padding:5px;
}
.jImage{
	margin-top:5px;
	margin-left:5px;
}



.flex{
	display:flex;
}


/* Main */

.main{
	background-color:white;
	margin-top:10px;
	margin-left:20px;
	border-radius:10px 10px 10px 10px;
}

.mainHeader{
	display:flex;
	padding-top:15px;
	padding-left:15px;
	height:30px;
}
.mainHeader p{
	color:grey;
}
.main input:hover{
	cursor:pointer;
}

.headerDownArrow{
	margin-top:2px;
	margin-left:10px;
}
.headerDownArrow:hover{
	background-color:rgb(234, 235, 239);
	cursor:pointer;
}

.headerRefresh{
	border-radius:50%;
	margin-left:30px;
}

.headerRefresh:hover{
	background-color:rgb(234, 235, 239);
	cursor:pointer;
}
.headerNumber{
	margin-left:47vw;
}
.headerNumber p{
	font-size:12px;
	
}

.headerLeftArrow{
	margin-left:20px;
	opacity:0.5;
}

.headerRightArrow{
	margin-left:30px;
	opacity:0.5;
}

.headerKeyboard{
	margin-left:20px;
	opacity:0.75;
}

.mainContent{
	background-color:rgb(242, 246, 252);
	border-radius:0px 0px 10px 10px;
	overflow-y:scroll;
	height:80vh;
}

.mainContentRow{
	display:flex;
	padding-left:15px;
	padding-bottom:15px;
	border-bottom:1px solid rgb(214, 215, 219);
}
.mainContentRow:hover{
	box-shadow:2px 2px 5px 0px rgb(0, 0, 0, 0.5);
	cursor:pointer;
}
.rowCheckbox{
	margin-top:15px;
	
}
.rowStar, .rowSender, .rowTime{
	margin-left:10px;
	margin-top:13px;
}
.rowStar img{
	opacity:0.5;
}

.mainContentRow p{
	font-size:14px;
}
.rowTime{
	color:grey;
}

.rowMailContent{
	margin-left:70px;
	margin-top:13px;
}


/* MEDIA QUERY */

@media (min-width:480px){
	
}